<!DOCTYPE html>
<html>
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/app.css' %}">
    <title> Resources List </title>

</head>

<header>
<div class="header">

  <h1>Journal Appp </h1>
  <a href="../resources/new" class="button">Create New Resource</a>
</div>

</header>

<body>
<div class="container">
  <h2>Resource List </h2>
     {% if rlist %}
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1"> Resource Name </div>
      <div class="col col-2">Resource URL</div>
      <div class="col col-3">Resource Description</div>
      <div class="col col-4">View Resource</div>
      <div class="col col-5">Update Resource</div>
        <div class="col col-6">Delete Resource</div>
    </li>
        {% for resource  in rlist %}
    <li class="table-row">
      <div class="col col-1" data-label="name"> {{resource.name}} </a></div>
      <div class="col col-2" data-label= "link"> <a href="{{ resource.url }}">{{ resource.url }}</a></div>
      <div class="col col-3" data-label="describe">{{ resource.resource_description }}</div>
      <div class="col col-4" data-label="View"><a href = "{{resource.id}}"> {{'View'}} </a></div>
      <div class="col col-5" data-label="Update"><a href = "{{resource.id}}/update" > {{'update'}} </a></div>
         <div class="col col-6" data-label="Delete"><a href = "{{resource.id}}/delete" > {{'delete'}} </a></div>
    </li>
      {% endfor %}
  </ul>

    {% else %}
    <p>No resources are available.</p>
{% endif %}
</div>
</body>
</html>